Repository HYF-Class19/agile-development-loruki-group-1, pull requests merged in 2022-08, with the labels that each got.

#4 constraints_md
  planning/constraints.md
Labels: documentation, planning

#5 user_persona_md
  planning/user-persona.md
Labels: documentation, planning

#6 Backlog_md
  planning/backlog.md
  planning/screenshot.jpg
Labels: documentation, planning, group

#7 Planning
  images/wireframe.png
  planning/backlog.md
  planning/design.md
  planning/user-persona.md
Labels: documentation, planning, group

#8 development-strategy_md
  planning/development-strategy.md
Labels: documentation, planning, group

#22 Navbar_html
  index.html
  styles/index.css
Labels: HTML, CSS

#21 Title_page
  index.html
Labels: HTML

#23 Showcase
  index.html
  styles/animation.css
  styles/index.css
  styles/mediaquery.css
  styles/something.css
Labels: HTML, CSS

#24 update_wireframe
  images/wireframe.png
Labels: documentation, planning, group

#25 update_constraints
  planning/constraints.md
Labels: documentation, planning, group

#26 update_user-personas & backlog
  planning/backlog.md
  planning/user-persona.md
Labels: documentation, planning, group

#27 sec-3
  .vscode/settings.json
  images/logos/c.jpg
  images/logos/clojure.jpg
  images/logos/nodejs.jpg
  images/logos/php.jpg
  images/logos/python.jpg
  images/logos/ruby.jpg
  images/logos/scala.jpg
  index.html
  styles/index.css
Labels: HTML, CSS

#29 Sec 1
  images/cli.png
  index.html
  styles/index.css
Labels: HTML, CSS

#30 fix: img pathrout
  index.html
Labels: HTML, CSS

#31 add footer
  index.html
  styles/index.css
Labels: HTML, CSS

#32 add padding
  styles/index.css
Labels: HTML, CSS, Home

#33 Planning
  planning/retrospective.md
Labels: documentation, planning, group

#34 Readme
  README.md
  images/screenshoot.png
Labels: documentation, planning, group

#35 HTML_PAGES
  index.html
  pages/docs.html
  pages/features.html
Labels: HTML, Features
